@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
}
/*Navbar menu*/
nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    margin-top: 10px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
nav .mainMenu li a:hover {
    background: #40DDFF;
    color: #fff;
    border-radius: 8px;
    transition: .7s;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
    color: #000;
}

.signInBtn{
    margin-top: 5px;
    margin-left: 15px;
    width: 100px;
    height: 50px;
    background-color: #40DDFF;
    border: none;
    border-radius: 35px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.signInBtn:hover{
    background-color: #0f6f85;
    transition: .6s ease-in-out;
}

.signInBtn a{
    text-decoration: none;
    color: #fff;
}

@media(max-width: 850px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu li a{
        color: #fff;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
        color: #000;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: #40DDFF;
        font-size: 1.4rem;
        
    }
    nav .signInBtn {
        margin-top: 10px;
        margin-left: 0;
    }
}

.signInBtn:hover{
    background-color: #0f6f85;
    transition: .6s ease-in-out;
}

.signInBtn a{
    text-decoration: none;
    color: #fff;
}
/*Pjesa pare e homepage*/
.container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    flex-wrap: wrap;
    animation: fadein 1.2s;
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.image{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 450px; 
    transition: 1s;
}

.block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    height: 320px;
    margin-top: 30px;
    background: rgb(196, 196, 196, 0.4);
    border-radius: 50px;
    padding: 25px;
    text-align: right;
    box-shadow: 0px 20px 20px #c4c4c4;  
}
.block p{
    font-size: 1.1rem;
}

.readMoreBtn{
    display: flex;
    background-color: #FF748D;
    border: none;
    border-radius: 20px 0px 20px;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    align-self: flex-end;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 600ms;
}

.readMoreBtn:hover{
    transform: scale(1.1);
    background-color: #b61b38;
}
/*Pjesa pare e homepage*/
.container1{
    margin-top: 100px;
    width: 100%;
    height: 586px;
    margin-bottom: 20px;
    background-image: url('./Img/Music.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: 1s ease-out slideInFromBottom;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay-section{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    height: 100%;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    max-width: 860px;
    
}

.overlay-section h1{
    font-size: 4rem;
    padding: 20px;
}

.overlay-section p{
    font-size: 1.5rem;
    padding: 20px;
}
@media screen and (max-width: 650px){
    div.overlay-section p{
        font-size: 1rem;
    }
}
/*Pjesa e product features*/
.features-text{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.features-text p{
    font-size: 1.2rem;
    max-width: 500px;
    
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    animation: 1s ease-out slideInFromBottom;
}

@keyframes slideInFromBottom {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.features-box{
    width: 325px;
    height: 350px;
    background: rgb(196, 196, 196, 0.4);
    box-shadow: 0px 20px 20px #c4c4c4;  
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.features-box p{
    padding: 35px;
    font-size: 17px;
    text-align: center;
}

@media screen and (max-width: 940px){
    div.features{
        display: flex;
        flex-direction: column;
    }
}

.icon-title{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 5px;
}

/*Pjesa per product page*/
.product{
    padding: 10px;
    animation: 1s ease-out rotate;
}

@keyframes slideInFromTop {
    from{ transform: translateY(-50px); opacity: 0; }
    to{ transform: translateY(0); opacity: 1;}
}
@keyframes rotate {
    from{ transform: rotate(180deg); opacity: 0; }
    to{ transform: rotate(0); opacity: 1;}
}

.rectangle {
    display: flex;
    justify-content: flex-start;
    background-color: #1F233C;
    margin: auto;
    max-width: 920px;
    height: 500px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 3px #c4c4c4;
}

.rectangle1 {
    display: flex;
    border-bottom: 500px solid #fff;
    border-right: 120px solid transparent;
    box-shadow: -5px 5px 4px #c4c4c4;
}

.productContent {
    width: 350px;
    color: #fff;
    text-align: right;
}

.pCTitle {
    padding: 25px 0px 15px 25px;
    border-bottom: 2px solid #fff;
}

.productContent p {
    padding: 25px 0 15px 0;
}

.price{
    padding-bottom: 30px;
}

.cartBtn {
    width: 200px;
    border: none;
    color: #1F233C;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 600ms;
}

.cartBtn:hover{
    transform: scale(1.1);
}

@media (max-width: 930px) {
    div.rectangle{
        width: 450px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }
    div.rectangle1{
        border: none;
        box-shadow: none;
    }
    div.rectangle1 img{
        margin-bottom: 0;
        width: 450px;
    }
    div.productContent{
        text-align: left;
        padding-left: 50px;
    }
      
    div .mySlides img{
        box-shadow: none;
    }
      
    div .prev, div .next {
        margin-top: -60%;
        margin-right: -105px;
    }
      
    div .dot {
        display: none;    
    }
      
      .active, .dot:hover {
        background-color: #717171;
      }  
}

/*Slider*/
.slideshow-container {
    max-width: 345px;
    position: relative;
  }
  
  .mySlides {
    display: flex;
  }
  
  .mySlides img{
    width: 448px;
    height: 300px;
    margin-bottom: -115%;
    box-shadow: -5px 8px 12px #c4c4c4;
    animation: fadein 2.2s;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: 60%;
    margin-right: -103px;
    padding: 16px;
    background-color: rgb(196, 196, 196, 0.6);
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
  }
  
  .dots{
      margin-left: -35%;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 3px;
    margin-top: 570%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
/*Pjesa e SignIn*/
.sInsUpC {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 75px 0 75px 0;
    animation-duration: 2s;
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.sCon {		
	background: rgb(196, 196, 196, 0.2);	
	height: 410px;	
	box-shadow: 0px 0px 20px #5C5696;
}

.sCon_content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.login {
	width: 320px;
	padding: 50px 30px 20px 30px;
    box-sizing: border-box;
}

.login_field {
	padding: 20px 0px;	
	position: relative;	
}

.login_icon {
	position: absolute;
	top: 35px;
	color: #7875B5;
}

.login_input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
    font-size: 17px;
    letter-spacing: 2px;
	width: 85%;
	transition: .2s;
}

.message{
    color: rgb(255, 0, 0, 0.8);
}

.login_input:active,
.login_input:focus,
.login_input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login_submit {
	background: #fff;
	font-size: 14px;
    margin-left: 30px;
    margin-bottom: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 80%;
	color: #4C489D;
	box-shadow: 0px 4px 2px #5C5696;
	cursor: pointer;
	
}

.login_submit:hover {
	color: #fff;
    background: #6A679E;
	outline: none;
    transition: .5s;
}

.button_icon {
    color: #6A679E;
    font-size: 24px;
	margin-left: auto;

}
.login_submit:hover i{
  color: #fff;
}

.createAccount{
    padding: 30px;
    font-size: 15px;
}
.createAccount a{
    text-decoration: none;
    color: #2481ee;
    padding-left: 10px;
}
/*Pjesa e SignUp*/
.signUp {
	width: 320px;
	padding: 30px;
	padding-top: 35px;    
}

.sCon1 {		
	background: rgb(196, 196, 196, 0.2);	
	height: 500px;	
	box-shadow: 0px 0px 20px #5C5696;
}

.signUp_field {
	padding: 10px 0px;	
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.row {
    display: flex;
    justify-content: center;
}

.nl{
    display: flex;
    justify-content: space-between;
}

.nl .message{
    padding-right: 15px;
}
  
.signUp_input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
	width: 100%;
	transition: .2s;
}

input[type="date"]{
	font-weight: 600;
    font-size: 16px;
    color: #757575;
    cursor: pointer;
}

.genderSelection{
    display: flex;
    justify-content: space-between;
    width: 40%;
    border-bottom: 2px solid #bbbbbb;
    padding: 5px 10px 5px 0px;
    color: #757575;
    font-weight: 600;
    font-size: 16px;
}

.genderSelection:hover{
    outline: none;
	border-bottom-color: #6A679E;
    transition: .2s;
}

.genderSelection label{
    cursor: pointer;
}

input[type="radio"]{
    margin-top: 7px;
    cursor: pointer;
}

.signUp_input:active,
.signUp_input:focus,
.signUp_input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.signUp_submit {
	background: #fff;
	font-size: 14px;
    margin-left: 30px;
    margin-bottom: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
    width: 80%;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	color: #4C489D;
	box-shadow: 0px 4px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.signUp_submit:hover {
	color: #fff;
    background: #6A679E;
	outline: none;
    transition: .5s;
}

.signUp_icon {
    color: #6A679E;
	font-size: 24px;
	margin-left: auto;

}
.signUp_submit:hover i{
  color: #fff;
}

.logInTxt{
    padding: 30px;
    font-size: 15px;
}
.logInTxt a{
    text-decoration: none;
    color: #2481ee;
    padding-left: 10px;
}
/*Footer-i*/
.footer-1{
    display: flex;
    justify-content: center;
    padding: 25px;
    border-bottom: 1px solid #000;
    background: rgb(196, 196, 196, 0.4);

}

.icons{
    color: #2481ee;
    padding: 10px 25px;
}

.footer-2{
    font-size: 1.2rem;
    font-weight: 800;
    padding: 30px;
    background: rgb(196, 196, 196, 0.4);
}

.footer-menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 30%;
    margin: auto;
}

.footer-menu p{
    padding-left: 30px;
    padding-right: 30px;
}

.footer-menu a{
    text-decoration: none;
    color: #000;
}
.footer-menu a:hover{
    text-decoration: none;
    color: #2481ee;
}

.copyrights{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 35px 50px 0px;
    color: rgba(0, 0, 0, 0.6);
}
